Repository ministryofjustice/calculate-release-dates: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint, typecheck, test

.pre-commit-config.yaml:

# Pre-commit hook configuration file
#
# This contains the list of hooks to be run before committing code.
# The devsecops-hooks baseline hook is temporarily disabled while we investigate issues with it but will eventually become compulsory.
# Other hooks maybe added or removed as needed to suit individual project requirements.

repos:
  - repo: https://github.com/ministryofjustice/devsecops-hooks
    rev: v1.4.1
    hooks:
      - id: baseline
        env:
          GITLEAKS_CONFIGURATION_FILE: ./.gitleaks/gitleaks.toml
          GITLEAKS_IGNORE_FILE: ./.gitleaks/.gitleaksignore

  - repo: local
    hooks:
      - id: lint
        name: linting code
        language: system
        entry: ./node_modules/.bin/lint-staged
        types_or: [ts,javascript,css]
        require_serial: true
        pass_filenames: false
      - id: typecheck
        name: verify types
        language: system
        entry: npm run typecheck
        types: [ts]
        require_serial: true
        pass_filenames: false
      - id: test
        name: running tests
        language: system
        entry: npm run test
        types: [ts]
        require_serial: true
        pass_filenames: false
  - repo: builtin
    hooks:
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: check-json
      - id: check-yaml
      - id: check-merge-conflict

RASS-2317 move outage bar, upgrade design library
  package-lock.json
  package.json
  server/views/partials/layout.njk
Due: none

remove space
  server/views/partials/layout.njk
Due: none

RASS-2317 move outage bar, upgrade design library (#1245)
  package-lock.json
  package.json
  server/views/partials/layout.njk
Due: none

Amend as per code review comments
  server/@types/calculateReleaseDates/index.d.ts
  server/models/calculation/CalculationSummaryViewModel.test.ts
  server/routes/calculation-reason/calculationReasonController.test.ts
  server/routes/calculation-summary/calculationSummaryOverridesController.test.ts
  server/routes/calculationRoutes.ts
  server/routes/view/ViewCalculationSummaryController.test.ts
  server/routes/view/ViewJourneyController.test.ts
  server/routes/view/ViewPrintCalculationSummaryController.test.ts
  server/routes/view/ViewPrintNotificationSlipController.test.ts
  server/routes/view/ViewSentencesAndOffencesController.test.ts
  server/services/calculateReleaseDatesService.test.ts
  server/views/pages/calculation/reason.njk
Due: lint, typecheck, test

CRS-2766: Use template docker build excluding npm
  Dockerfile
Due: none

CRS-2766: Use template docker build excluding npm (#1247)
  Dockerfile
Due: none

Include latestCalculation checked by and conditionally enable second check reason and link
  integration_tests/e2e/checkInformation.cy.ts
  integration_tests/e2e/happyPath.cy.ts
  integration_tests/e2e/recordSecondCheckPath.cy.ts
  integration_tests/mockApis/calculateReleaseDatesApi.ts
  integration_tests/pages/CCARDLandingPage.ts
  server/@types/calculateReleaseDates/calculateReleaseDatesClientTypes.ts
  server/@types/calculateReleaseDates/index.d.ts
  server/@types/express/index.d.ts
  server/data/calculateReleaseDatesApiClient.ts
  server/enumerations/auditType.ts
  server/models/calculation/CalculationReasonViewModel.ts
  server/routes/calculation-reason/calculationReasonController.test.ts
  server/routes/calculation-reason/calculationReasonController.ts
  server/routes/calculation-summary/calcSecondCheckSummaryController.ts
  server/routes/check-information/checkInformationController.ts
  server/routes/index.ts
  server/routes/start/startController.test.ts
  server/routes/start/startController.ts
  server/services/auditService.ts
  server/services/calculateReleaseDatesService.test.ts
  server/services/calculateReleaseDatesService.ts
  server/services/userInputService.ts
  server/views/pages/calculation/reason.njk
  server/views/pages/ccardIndex.njk
  server/views/pages/partials/calculationHistory/calculationHistory.njk
  server/views/pages/partials/calculationSummary/summary.njk
Due: lint, typecheck, test

CRS-2778: Change progression model exclusion label
  server/views/pages/partials/checkInformation/sentenceCard.njk
Due: none

CRS-2778: Change progression model exclusion label (#1248)
  server/views/pages/partials/checkInformation/sentenceCard.njk
Due: none

CRS-2737: Enable Progression Model UI elements in prod
  helm_deploy/values-alt-dev.yaml
  helm_deploy/values-dev.yaml
  helm_deploy/values-prod.yaml
Due: none

CRS-2737: Enable Progression Model UI elements in prod (#1250)
  helm_deploy/values-alt-dev.yaml
  helm_deploy/values-dev.yaml
  helm_deploy/values-prod.yaml
Due: none

Amend code as per updates to CRDS API
  feature.env
  helm_deploy/calculate-release-dates/values.yaml
  helm_deploy/values-dev.yaml
  server/@types/calculateReleaseDates/calculateReleaseDatesClientTypes.ts
  server/@types/calculateReleaseDates/index.d.ts
  server/config.ts
  server/data/calculateReleaseDatesApiClient.ts
  server/models/CalculationHistoryModel.ts
  server/models/IndexViewModel.ts
  server/models/ViewRouteSentenceAndOffenceViewModel.ts
  server/routes/calculation-summary/calcSecondCheckSummaryController.ts
  server/routes/start/startController.test.ts
  server/routes/view/ViewSentencesAndOffencesController.test.ts
  server/routes/view/ViewSentencesAndOffencesController.ts
  server/services/auditService.ts
  server/services/calculateReleaseDatesService.test.ts
  server/services/calculateReleaseDatesService.ts
  server/utils/nunjucksSetup.ts
  server/views/pages/ccardIndex.njk
  server/views/pages/partials/calculationHistory/calculationHistory.njk
  server/views/pages/partials/calculationSummary/summary.njk
  server/views/pages/view/sentencesAndOffences.njk
Due: lint, typecheck, test

Potential fix for pull request finding
  server/views/pages/partials/calculationSummary/secondCheckSummarySection.njk
Due: none

Potential fix for pull request finding
  server/views/pages/partials/calculationSummary/summary.njk
Due: none

Potential fix for pull request finding
  server/views/pages/view/sentencesAndOffences.njk
Due: none

Potential fix for pull request finding
  server/services/userInputService.ts
Due: lint, typecheck, test

Use appropriate naming
  server/models/calculation/CalculationReasonViewModel.ts
  server/views/pages/calculation/reason.njk
Due: lint, typecheck, test

Potential fix for pull request finding
  server/routes/calculation-summary/calcSecondCheckSummaryController.ts
Due: lint, typecheck, test

Second check reason should be displayed based on the flag
  server/routes/calculation-reason/calculationReasonController.test.ts
  server/views/pages/calculation/reason.njk
Due: lint, typecheck, test

Potential fix for pull request finding
  server/routes/calculation-reason/secondCheckController.ts
Due: lint, typecheck, test

CRS-2779: Support HTML content type errors
  server/@types/calculateReleaseDates/index.d.ts
  server/models/MismatchResultTable.test.ts
  server/models/ReleaseDatesMismatchResultTable.test.ts
  server/routes/check-information/checkInformationController.test.ts
  server/routes/genuine-overrides/review-dates/reviewDatesForGenuineOverrideController.test.ts
  server/routes/genuine-overrides/review-previous-override/reviewDatesFromPreviousGenuineOverrideController.test.ts
  server/routes/genuine-overrides/select-dates/genuineOverrideSelectDatesController.test.ts
  server/services/calculateReleaseDatesService.test.ts
  server/types/ErrorMessage.ts
  server/types/ErrorMessages.ts
  server/utils/utils.ts
  server/views/pages/partials/customErrorBanner.njk
  server/views/pages/partials/errorBanner/error-summary-validation-fixable-in-dps.njk
  server/views/pages/partials/errorBanner/error-title-validation-fixable-in-dps.njk
Due: lint, typecheck, test

Fix issue with build
  .allowed-scripts.mjs
Due: lint

CRS-2779: Support HTML content type errors (#1251)
  server/@types/calculateReleaseDates/index.d.ts
  server/models/MismatchResultTable.test.ts
  server/models/ReleaseDatesMismatchResultTable.test.ts
  server/routes/check-information/checkInformationController.test.ts
  server/routes/genuine-overrides/review-dates/reviewDatesForGenuineOverrideController.test.ts
  server/routes/genuine-overrides/review-previous-override/reviewDatesFromPreviousGenuineOverrideController.test.ts
  server/routes/genuine-overrides/select-dates/genuineOverrideSelectDatesController.test.ts
  server/services/calculateReleaseDatesService.test.ts
  server/types/ErrorMessage.ts
  server/types/ErrorMessages.ts
  server/utils/utils.ts
  server/views/pages/partials/customErrorBanner.njk
  server/views/pages/partials/errorBanner/error-summary-validation-fixable-in-dps.njk
  server/views/pages/partials/errorBanner/error-title-validation-fixable-in-dps.njk
Due: lint, typecheck, test

Fix bug with latest calc - View calculation details link
  server/services/calculateReleaseDatesService.ts
Due: lint, typecheck, test

CRS-2781: Update mismatch label for TUSED
  server/models/ComparisonResultMismatchDetailModel.test.ts
  server/models/ComparisonResultMismatchDetailModel.ts
Due: lint, typecheck, test

Fix bug with latest calc - View calculation details link (#1252)
  server/services/calculateReleaseDatesService.ts
Due: lint, typecheck, test

CRS-2781: Update mismatch label for TUSED (#1253)
  server/models/ComparisonResultMismatchDetailModel.test.ts
  server/models/ComparisonResultMismatchDetailModel.ts
Due: lint, typecheck, test

CRS-2784: Strip HTML tags from validation messages in bulk calc
  server/models/MismatchResultTable.test.ts
  server/models/MismatchResultTable.ts
Due: lint, typecheck, test

CRS-2784: Strip HTML tags from validation messages in bulk calc (#1255)
  server/models/MismatchResultTable.test.ts
  server/models/MismatchResultTable.ts
Due: lint, typecheck, test

lint
  server/@types/calculateReleaseDates/index.d.ts
  server/@types/prisonApi/index.d.ts
  server/services/calculateReleaseDatesService.ts
Due: lint, typecheck, test

CRS-2785: Don't look up latest calc on calculation reason if feature toggle is off
  server/routes/calculation-reason/calculationReasonController.ts
Due: lint, typecheck, test

CRS-2785: Don't look up latest calc on calculation reason if feature toggle is off (#1256)
  server/routes/calculation-reason/calculationReasonController.ts
Due: lint, typecheck, test

Fix issue with Calc summary not displaying Last checked
  server/models/calculation/CalculationSummaryViewModel.ts
  server/routes/view/ViewCalculationSummaryController.test.ts
  server/routes/view/ViewCalculationSummaryController.ts
  server/routes/view/ViewSentencesAndOffencesController.test.ts
  server/views/pages/view/calculationSummary.njk
Due: lint, typecheck, test

Fix issue with Calc summary not displaying Last checked (#1257)
  server/models/calculation/CalculationSummaryViewModel.ts
  server/routes/view/ViewCalculationSummaryController.test.ts
  server/routes/view/ViewCalculationSummaryController.ts
  server/routes/view/ViewSentencesAndOffencesController.test.ts
  server/views/pages/view/calculationSummary.njk
Due: lint, typecheck, test

Fix Prod Bug - LatestCalc returning 404 when there are no previous calc
  server/routes/calculation-reason/calculationReasonController.test.ts
  server/routes/calculation-reason/calculationReasonController.ts
Due: lint, typecheck, test

Addressing code review comments
  server/routes/calculation-reason/calculationReasonController.test.ts
  server/routes/calculation-reason/calculationReasonController.ts
Due: lint, typecheck, test
