Repository ministryofjustice/calculate-release-dates: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint, typecheck, test

.pre-commit-config.yaml:

# Pre-commit hook configuration file
#
# This contains the list of hooks to be run before committing code.
# The devsecops-hooks baseline hook is temporarily disabled while we investigate issues with it but will eventually become compulsory.
# Other hooks maybe added or removed as needed to suit individual project requirements.

repos:
  - repo: https://github.com/ministryofjustice/devsecops-hooks
    rev: v1.4.1
    hooks:
      - id: baseline
        env:
          GITLEAKS_CONFIGURATION_FILE: ./.gitleaks/gitleaks.toml
          GITLEAKS_IGNORE_FILE: ./.gitleaks/.gitleaksignore

  - repo: local
    hooks:
      - id: lint
        name: linting code
        language: system
        entry: ./node_modules/.bin/lint-staged
        types_or: [ts,javascript,css]
        require_serial: true
        pass_filenames: false
      - id: typecheck
        name: verify types
        language: system
        entry: npm run typecheck
        types: [ts]
        require_serial: true
        pass_filenames: false
      - id: test
        name: running tests
        language: system
        entry: npm run test
        types: [ts]
        require_serial: true
        pass_filenames: false
  - repo: builtin
    hooks:
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: check-json
      - id: check-yaml
      - id: check-merge-conflict

crs-2679-update-auth-middleware (#1174)
  server/interfaces/hmppsUser.ts
  server/middleware/asyncMiddleware.ts
  server/middleware/authorisationMiddleware.ts
  server/middleware/setUpAuthentication.ts
  server/routes/approved-dates/standaloneApprovedDatesRoutes.ts
  server/routes/genuine-overrides/genuineOverridesRoutes.ts
  server/routes/index.ts
  server/utils/clientCredentials.test.ts
  server/utils/clientCredentials.ts
Due: lint, typecheck, test

crs-2679-remove-redundant-middleware
  server/authentication/auth.ts
  server/data/tokenVerification.test.ts
  server/data/tokenVerification.ts
  server/middleware/setUpCurrentUser.ts
  server/routes/testutils/appSetup.ts
Due: lint, typecheck, test

crs-2679-remove-redundant-middleware (#1175)
  server/authentication/auth.ts
  server/data/tokenVerification.test.ts
  server/data/tokenVerification.ts
  server/middleware/setUpCurrentUser.ts
  server/routes/testutils/appSetup.ts
Due: lint, typecheck, test

fix-incorrect-dereference-to-user-token
  server/routes/calculation-reason/calculationReasonController.ts
Due: lint, typecheck, test

fix-incorrect-dereference-to-user-token (#1180)
  server/routes/calculation-reason/calculationReasonController.ts
Due: lint, typecheck, test

CRS-2681 - Create Maintenance Page for CRDS
  server/app.ts
  server/config.ts
  server/middleware/maintenanceMiddleware.ts
  server/routes/index.test.ts
  server/routes/testutils/appSetup.ts
  server/views/maintenance.njk
Due: lint, typecheck, test

Load routes only if not in maintenance mode
  server/app.ts
  server/middleware/maintenanceMiddleware.ts
  server/routes/index.test.ts
  server/routes/testutils/appSetup.ts
Due: lint, typecheck, test

CRS-2681 - Create Maintenance Page for CRDS (#1184)
  server/app.ts
  server/config.ts
  server/middleware/maintenanceMiddleware.ts
  server/routes/index.test.ts
  server/routes/testutils/appSetup.ts
  server/views/maintenance.njk
Due: lint, typecheck, test

CRS-2681 Handle prisoner search failures as well
  server/app.ts
  server/routes/testutils/appSetup.ts
Due: lint, typecheck, test

Handle other middleware failures
  server/app.ts
  server/routes/testutils/appSetup.ts
Due: lint, typecheck, test

CRS-2681 Handle prisoner search failures as well (#1186)
  server/app.ts
  server/routes/testutils/appSetup.ts
Due: lint, typecheck, test

CRS-2698: Remove legacy adjustments code
  feature.env
  helm_deploy/calculate-release-dates/values.yaml
  server/config.ts
  server/data/calculateReleaseDatesApiClient.ts
  server/models/AdjustmentsViewModel.test.ts
  server/models/AdjustmentsViewModel.ts
  server/models/PrintNotificationSlipViewModel.test.ts
  server/models/SentenceAndOffenceViewModel.test.ts
  server/models/SentenceAndOffenceViewModel.ts
  server/models/ViewRouteAdjustmentsViewModel.ts
  server/models/ViewRouteSentenceAndOffenceViewModel.test.ts
  server/models/ViewRouteSentenceAndOffenceViewModel.ts
  server/routes/check-information/checkInformationController.test.ts
  server/routes/view/ViewPrintNotificationSlipController.ts
  server/routes/view/ViewSentencesAndOffencesController.ts
  server/services/calculateReleaseDatesService.ts
  server/services/checkInformationService.test.ts
  server/services/checkInformationService.ts
  server/views/pages/partials/checkInformation/adjustmentDetails.njk
  server/views/pages/partials/checkInformation/adjustmentSummary.njk
  server/views/pages/partials/checkInformation/sentenceAdjustments.njk
  server/views/pages/partials/printNotification/adjustmentsTable.njk
  server/views/pages/printNotification/printNotificationSlip.njk
Due: lint, typecheck, test

CRS-2698: Remove legacy adjustments code (#1187)
  feature.env
  helm_deploy/calculate-release-dates/values.yaml
  server/config.ts
  server/data/calculateReleaseDatesApiClient.ts
  server/models/AdjustmentsViewModel.test.ts
  server/models/AdjustmentsViewModel.ts
  server/models/PrintNotificationSlipViewModel.test.ts
  server/models/SentenceAndOffenceViewModel.test.ts
  server/models/SentenceAndOffenceViewModel.ts
  server/models/ViewRouteAdjustmentsViewModel.ts
  server/models/ViewRouteSentenceAndOffenceViewModel.test.ts
  server/models/ViewRouteSentenceAndOffenceViewModel.ts
  server/routes/check-information/checkInformationController.test.ts
  server/routes/view/ViewPrintNotificationSlipController.ts
  server/routes/view/ViewSentencesAndOffencesController.ts
  server/services/calculateReleaseDatesService.ts
  server/services/checkInformationService.test.ts
  server/services/checkInformationService.ts
  server/views/pages/partials/checkInformation/adjustmentDetails.njk
  server/views/pages/partials/checkInformation/adjustmentSummary.njk
  server/views/pages/partials/checkInformation/sentenceAdjustments.njk
  server/views/pages/partials/printNotification/adjustmentsTable.njk
  server/views/pages/printNotification/printNotificationSlip.njk
Due: lint, typecheck, test

CRS-2699 Improve App Insights Page views by adding username and prisonId
  server/views/partials/layout.njk
Due: none

CRS-2699 Use prisoner current prison Id
  server/utils/azureAppInsights.ts
  server/views/partials/layout.njk
Due: lint, typecheck, test

CRS-2699 Improve App Insights Page views by adding username and prisonId (#1189)
  server/utils/azureAppInsights.ts
  server/views/partials/layout.njk
Due: lint, typecheck, test

Update renovate config
  renovate.json
Due: none

Update renovate config (#1191)
  renovate.json
Due: none

CRS-2711: Attempt to resolve front end components 401s
  server/data/frontendComponentsApiClient.ts
  server/middleware/setUpDPSFrontendComponents.ts
  server/services/frontEndComponentsService.ts
Due: lint, typecheck, test

CRS-2711: Attempt to resolve front end components 401s (#1195)
  server/data/frontendComponentsApiClient.ts
  server/middleware/setUpDPSFrontendComponents.ts
  server/services/frontEndComponentsService.ts
Due: lint, typecheck, test

CRS-2699 - Enable tracking for Pageviewdata and EventData
  server/views/partials/layout.njk
Due: none

CRS-2699 - Enable tracking for Pageviewdata and EventData (#1196)
  server/views/partials/layout.njk
Due: none

Update allowed scripts for cypress
  .allowed-scripts.mjs
Due: lint

Renovate all npm minor patch (#1198)
  .allowed-scripts.mjs
  package-lock.json
  package.json
Due: lint

CRS-2712: Enable PSS repeal everywhere
  helm_deploy/calculate-release-dates/values.yaml
  helm_deploy/values-dev.yaml
Due: none

CRS-2712: Enable PSS repeal everywhere (#1199)
  helm_deploy/calculate-release-dates/values.yaml
  helm_deploy/values-dev.yaml
Due: none

CRS-2693 - Validate Genuine override OTHER reason comment
  integration_tests/pages/genuineOverrideReasonPage.ts
  server/routes/genuine-overrides/select-genuine-override-reason/selectGenuineOverrideReasonSchemas.test.ts
  server/routes/genuine-overrides/select-genuine-override-reason/selectGenuineOverrideReasonSchemas.ts
  server/views/pages/genuineOverrides/selectGenuineOverrideReason.njk
Due: lint, typecheck, test

Add additional tokens
  server/routes/genuine-overrides/select-genuine-override-reason/selectGenuineOverrideReasonSchemas.ts
Due: lint, typecheck, test

Add Snyk
  .github/workflows/security_npm_dependency.yml
  .github/workflows/security_trivy.yml
  .github/workflows/security_veracode_pipeline_scan.yml
  .github/workflows/security_veracode_policy_scan.yml
Due: none

Add Snyk (#1204)
  .github/workflows/security_npm_dependency.yml
  .github/workflows/security_trivy.yml
  .github/workflows/security_veracode_pipeline_scan.yml
  .github/workflows/security_veracode_policy_scan.yml
Due: none

Fix live issue where session value for a nomisId has not been populated
  server/routes/approvedDatesRoutes.test.ts
  server/routes/approvedDatesRoutes.ts
Due: lint, typecheck, test

Fix code review comments
  server/routes/genuine-overrides/select-genuine-override-reason/selectGenuineOverrideReasonSchemas.ts
Due: lint, typecheck, test

CRS-2693 - Validate Genuine override OTHER reason comment (#1203)
  integration_tests/pages/genuineOverrideReasonPage.ts
  server/routes/genuine-overrides/select-genuine-override-reason/selectGenuineOverrideReasonSchemas.test.ts
  server/routes/genuine-overrides/select-genuine-override-reason/selectGenuineOverrideReasonSchemas.ts
  server/views/pages/genuineOverrides/selectGenuineOverrideReason.njk
Due: lint, typecheck, test

Add Snyk
  .github/workflows/security_snyk_scan.yml
Due: none

Fix snyk config update systeminfo package in using `npm audit fix`
  .github/workflows/security_snyk_scan.yml
  package-lock.json
Due: none

Fix live issue where session value for a nomisId has not been populated (#1205)
  server/routes/approvedDatesRoutes.test.ts
  server/routes/approvedDatesRoutes.ts
Due: lint, typecheck, test

Crs 2704 enable snyk fixconfig (#1209)
  .github/workflows/security_snyk_scan.yml
Due: none

crs-2722-progression-tranche-banner Exclude SDS exclusions belonging to PART_3 schedules.
  server/routes/view/ViewSentencesAndOffencesController.test.ts
  server/views/pages/partials/checkInformation/sentenceCard.njk
Due: lint, typecheck, test

crs-2722-progression-tranche-banner (#1214)
  assets/scss/overrides/_local.scss
  integration_tests/e2e/calculationSummary.cy.ts
  integration_tests/mockApis/calculateReleaseDatesApi.ts
  integration_tests/pages/calculationSummary.ts
  server/@types/calculateReleaseDates/calculateReleaseDatesClientTypes.ts
  server/@types/calculateReleaseDates/index.d.ts
  server/models/ViewRouteSentenceAndOffenceViewModel.test.ts
  server/models/ViewRouteSentenceAndOffenceViewModel.ts
  server/models/calculation/CalculationSummaryViewModel.test.ts
  server/routes/calculation-summary/calculationSummaryController.test.ts
  server/routes/calculation-summary/calculationSummaryOverridesController.test.ts
  server/routes/calculationRoutes.test.ts
  server/routes/previously-recorded-sled-intercept/previouslyRecordedSledInterceptController.test.ts
  server/routes/view/ViewCalculationSummaryController.test.ts
  server/routes/view/ViewPrintCalculationSummaryController.test.ts
  server/routes/view/ViewPrintNotificationSlipController.test.ts
  server/routes/view/ViewSentencesAndOffencesController.test.ts
  server/services/calculateReleaseDatesService.test.ts
  server/services/calculateReleaseDatesService.ts
  server/utils/nunjucksSetup.test.ts
  server/utils/nunjucksSetup.ts
  server/views/pages/partials/calculationSummary/summarySection.njk
  server/views/pages/partials/checkInformation/sentenceCard.njk
Due: lint, typecheck, test

npm-audit-fix-22-05-2026
  package-lock.json
Due: none
