Repository ministryofjustice/calculate-release-dates: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint, typecheck, test

.pre-commit-config.yaml:

# Pre-commit hook configuration file
#
# This contains the list of hooks to be run before committing code.
# The devsecops-hooks baseline hook is temporarily disabled while we investigate issues with it but will eventually become compulsory.
# Other hooks maybe added or removed as needed to suit individual project requirements.

repos:
  - repo: https://github.com/ministryofjustice/devsecops-hooks
    rev: v1.4.1
    hooks:
      - id: baseline
        env:
          GITLEAKS_CONFIGURATION_FILE: ./.gitleaks/gitleaks.toml
          GITLEAKS_IGNORE_FILE: ./.gitleaks/.gitleaksignore

  - repo: local
    hooks:
      - id: lint
        name: linting code
        language: system
        entry: ./node_modules/.bin/lint-staged
        types_or: [ts,javascript,css]
        require_serial: true
        pass_filenames: false
      - id: typecheck
        name: verify types
        language: system
        entry: npm run typecheck
        types: [ts]
        require_serial: true
        pass_filenames: false
      - id: test
        name: running tests
        language: system
        entry: npm run test
        types: [ts]
        require_serial: true
        pass_filenames: false
  - repo: builtin
    hooks:
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: check-json
      - id: check-yaml
      - id: check-merge-conflict

npm-audit-fix-22-05-2026
  .allowed-scripts.mjs
Due: lint

npm-audit-fix-22-05-2026 (#1217)
  .allowed-scripts.mjs
  package-lock.json
Due: lint

Update with latest requirements from hmpps-npm-script-run-allowlist
  .allowed-scripts.mjs
  .dockerignore
  Dockerfile
Due: lint

CDIA-109 Update to use fixed things to do from CCRD designs.
  package-lock.json
  package.json
Due: none

CDIA-109 Only display pre calc things to do.
  server/@types/courtCasesReleaseDatesApi/index.d.ts
  server/models/IndexViewModel.ts
Due: lint, typecheck, test

CDIA-109 Update to use fixed things to do from CCRD designs. (#1222)
  package-lock.json
  package.json
  server/@types/courtCasesReleaseDatesApi/index.d.ts
  server/models/IndexViewModel.ts
Due: lint, typecheck, test

Fix docker build
  Dockerfile
Due: none

Fix docker build (#1223)
  Dockerfile
Due: none

CRS-2745 & CRS-2690: Progression Model UI
  feature.env
  helm_deploy/calculate-release-dates/values.yaml
  helm_deploy/values-alt-dev.yaml
  helm_deploy/values-alt-preprod.yaml
  helm_deploy/values-dev.yaml
  helm_deploy/values-preprod.yaml
  helm_deploy/values-prod.yaml
  integration_tests/mockApis/calculateReleaseDatesApi.ts
  server/@types/calculateReleaseDates/index.d.ts
  server/config.ts
  server/data/calculateReleaseDatesApiClient.ts
  server/models/ViewRouteSentenceAndOffenceViewModel.test.ts
  server/models/ViewRouteSentenceAndOffenceViewModel.ts
  server/routes/check-information/checkInformationController.test.ts
  server/routes/view/ViewJourneyController.test.ts
  server/routes/view/ViewPrintNotificationSlipController.test.ts
  server/routes/view/ViewSentencesAndOffencesController.test.ts
  server/routes/viewRoutes.test.ts
  server/services/viewReleaseDatesService.ts
  server/views/pages/components/adjustments-tables/AdjustmentTablesModel.ts
  server/views/pages/partials/checkInformation/sentenceCard.njk
Due: lint, typecheck, test

Review comments
  server/models/ViewRouteSentenceAndOffenceViewModel.ts
Due: lint, typecheck, test

CRS-2745 & CRS-2690: Progression Model UI (#1226)
  feature.env
  helm_deploy/calculate-release-dates/values.yaml
  helm_deploy/values-alt-dev.yaml
  helm_deploy/values-alt-preprod.yaml
  helm_deploy/values-dev.yaml
  helm_deploy/values-preprod.yaml
  helm_deploy/values-prod.yaml
  integration_tests/mockApis/calculateReleaseDatesApi.ts
  server/@types/calculateReleaseDates/index.d.ts
  server/config.ts
  server/data/calculateReleaseDatesApiClient.ts
  server/models/ViewRouteSentenceAndOffenceViewModel.test.ts
  server/models/ViewRouteSentenceAndOffenceViewModel.ts
  server/routes/check-information/checkInformationController.test.ts
  server/routes/view/ViewJourneyController.test.ts
  server/routes/view/ViewPrintNotificationSlipController.test.ts
  server/routes/view/ViewSentencesAndOffencesController.test.ts
  server/routes/viewRoutes.test.ts
  server/services/viewReleaseDatesService.ts
  server/views/pages/components/adjustments-tables/AdjustmentTablesModel.ts
  server/views/pages/partials/checkInformation/sentenceCard.njk
Due: lint, typecheck, test

CRS-2756: Improve error handling
  server/config.ts
  server/errorHandler.ts
  server/middleware/setUpDPSFrontendComponents.ts
  server/sanitisedError.test.ts
  server/sanitisedError.ts
Due: lint, typecheck, test

CRS-2756: Improve error handling (#1228)
  server/config.ts
  server/errorHandler.ts
  server/middleware/setUpDPSFrontendComponents.ts
  server/sanitisedError.test.ts
  server/sanitisedError.ts
Due: lint, typecheck, test

npm audit fix
  package-lock.json
Due: none

npm audit fix (#1229)
  package-lock.json
Due: none

CRS-2732 - Add the second check journey
  server/models/calculation/CalculationCompleteViewModel.ts
  server/models/calculation/CalculationSummaryPageViewModel.ts
  server/routes/calculation-reason/calculationReasonController.test.ts
  server/routes/calculation-reason/secondCheckController.ts
  server/routes/calculation-summary/calculationSummaryController.test.ts
  server/routes/calculation-summary/calculationSummaryController.ts
  server/routes/calculationRoutes.test.ts
  server/routes/calculationRoutes.ts
  server/routes/index.ts
  server/routes/start/startController.test.ts
  server/services/userInputService.ts
  server/views/pages/calculation/calculationComplete.njk
  server/views/pages/calculation/calculationSummary.njk
  server/views/pages/calculation/reason.njk
  server/views/pages/ccardIndex.njk
  server/views/pages/partials/calculationSummary/summarySection.njk
  server/views/pages/partials/complete/isSecondCheckRecorded.njk
Due: lint, typecheck, test

CRS-2732 Add Integration tests
  integration_tests/e2e/recordSecondCheckPath.cy.ts
  integration_tests/mockApis/calculateReleaseDatesApi.ts
  integration_tests/pages/CCARDLandingPage.ts
  integration_tests/pages/calculationComplete.ts
Due: lint, typecheck, test

CRS-2742: Progression model bulk calc
  server/@types/calculateReleaseDates/index.d.ts
  server/models/ComparisonResultMismatchDetailModel.ts
  server/views/pages/compare/manualResultDetail.njk
  server/views/pages/compare/resultDetail.njk
Due: lint, typecheck, test

CRS-2742: Progression model bulk calc (#1232)
  server/@types/calculateReleaseDates/index.d.ts
  server/models/ComparisonResultMismatchDetailModel.ts
  server/views/pages/compare/manualResultDetail.njk
  server/views/pages/compare/resultDetail.njk
Due: lint, typecheck, test

CRS-2758: Log unhandled rejections
  server/app.ts
  server/data/frontendComponentsApiClient.test.ts
  server/data/manageUsersApiClient.ts
  server/errorHandler.ts
  server/routes/testutils/appSetup.ts
Due: lint, typecheck, test

CRS-2758: Log unhandled rejections (#1233)
  server/app.ts
  server/data/frontendComponentsApiClient.test.ts
  server/data/manageUsersApiClient.ts
  server/errorHandler.ts
  server/routes/testutils/appSetup.ts
Due: lint, typecheck, test

RASS-2317 add outage banner to landing page
  package-lock.json
  package.json
  server/models/IndexViewModel.ts
  server/routes/start/startController.test.ts
  server/routes/start/startController.ts
  server/views/partials/layout.njk
Due: lint, typecheck, test

lint fix
  server/models/IndexViewModel.ts
  server/routes/start/startController.test.ts
Due: lint, typecheck, test

crs-1462-manual-journey-hdcad-validate Where a user selects HDCAD as a date that needs to be entered, the user must also select HDCED.
  server/models/manual_calculation/ManualEntryRemoteDateViewModel.ts
  server/routes/manualEntryRoutes.test.ts
  server/routes/manualEntryRoutes.ts
  server/services/manualEntryService.test.ts
  server/services/manualEntryService.ts
  server/views/pages/manualEntry/removeDate.njk
Due: lint, typecheck, test

crs-1462-manual-journey-hdcad-validate Where a user selects HDCAD as a date that needs to be entered, the user must also select HDCED.
  server/routes/manualEntryRoutes.test.ts
Due: lint, typecheck, test

crs-1462-manual-journey-hdcad-validate (#1237)
  server/models/manual_calculation/ManualEntryRemoteDateViewModel.ts
  server/routes/manualEntryRoutes.test.ts
  server/routes/manualEntryRoutes.ts
  server/services/manualEntryService.test.ts
  server/services/manualEntryService.ts
  server/views/pages/manualEntry/removeDate.njk
Due: lint, typecheck, test

CRS-2757: Remove SDS+ banner
  .allowed-scripts.mjs
  package-lock.json
  server/models/SentenceAndOffenceViewModel.ts
  server/routes/check-information/checkInformationController.test.ts
  server/views/pages/calculation/checkInformation.njk
  server/views/pages/components/sds-plus-notification-banner/macro.njk
  server/views/pages/components/sds-plus-notification-banner/template.njk
Due: lint, typecheck, test

RASS-2317 add outage banner to landing page (#1236)
  package-lock.json
  package.json
  server/models/IndexViewModel.ts
  server/routes/start/startController.test.ts
  server/routes/start/startController.ts
  server/views/partials/layout.njk
Due: lint, typecheck, test

CRS-2757: Remove SDS+ banner (#1238)
  .allowed-scripts.mjs
  package-lock.json
  server/models/SentenceAndOffenceViewModel.ts
  server/routes/check-information/checkInformationController.test.ts
  server/views/pages/calculation/checkInformation.njk
  server/views/pages/components/sds-plus-notification-banner/macro.njk
  server/views/pages/components/sds-plus-notification-banner/template.njk
Due: lint, typecheck, test

Revert code - Create a separate summary screen
  server/views/pages/calculation/calculationSummary.njk
  server/views/pages/partials/calculationSummary/summarySection.njk
Due: none

Revert code
  server/models/calculation/CalculationSummaryPageViewModel.ts
  server/routes/calculation-summary/calculationSummaryController.test.ts
  server/routes/calculation-summary/calculationSummaryController.ts
  server/routes/calculationRoutes.ts
  server/routes/index.ts
Due: lint, typecheck, test

RASS-2320 upgrade to latest design library
  package-lock.json
  package.json
  server/@types/courtCasesReleaseDatesApi/index.d.ts
  server/routes/calculation-reason/calculationReasonController.test.ts
  server/routes/start/startController.test.ts
  server/routes/things-to-do-intercept/thingsToDoInterceptController.test.ts
Due: lint, typecheck, test

RASS-2320 upgrade to latest design library (#1242)
  package-lock.json
  package.json
  server/@types/courtCasesReleaseDatesApi/index.d.ts
  server/routes/calculation-reason/calculationReasonController.test.ts
  server/routes/start/startController.test.ts
  server/routes/things-to-do-intercept/thingsToDoInterceptController.test.ts
Due: lint, typecheck, test

crs-2677-approved-dates-hdcad-validation
  server/routes/approvedDatesRoutes.test.ts
  server/routes/approvedDatesRoutes.ts
  server/services/approvedDatesService.ts
Due: lint, typecheck, test

crs-2677-approved-dates-hdcad-validation (#1243)
  server/routes/approvedDatesRoutes.test.ts
  server/routes/approvedDatesRoutes.ts
  server/services/approvedDatesService.ts
Due: lint, typecheck, test

Security fixes including app insights lib switch
  .allowed-scripts.mjs
  package-lock.json
  package.json
  server.ts
  server/app.ts
  server/data/index.ts
  server/data/redisClient.ts
  server/routes/check-information/checkInformationController.test.ts
  server/routes/multiple-consecutive-to-intercept/multipleConsecutiveToInterceptController.test.ts
  server/services/checkInformationService.test.ts
  server/services/checkInformationService.ts
  server/services/index.ts
  server/utils/azureAppInsights.test.ts
  server/utils/azureAppInsights.ts
Due: lint, typecheck, test

Security fixes including app insights lib switch (#1244)
  .allowed-scripts.mjs
  package-lock.json
  package.json
  server.ts
  server/app.ts
  server/data/index.ts
  server/data/redisClient.ts
  server/routes/check-information/checkInformationController.test.ts
  server/routes/multiple-consecutive-to-intercept/multipleConsecutiveToInterceptController.test.ts
  server/services/checkInformationService.test.ts
  server/services/checkInformationService.ts
  server/services/index.ts
  server/utils/azureAppInsights.test.ts
  server/utils/azureAppInsights.ts
Due: lint, typecheck, test

CRS-2732 Complete the second check journey with Integration tests
  integration_tests/mockApis/calculateReleaseDatesApi.ts
  server/@types/calculateReleaseDates/index.d.ts
  server/models/CheckInformationViewModel.ts
  server/models/calculation/CalculationSummarySecondCheckViewModel.ts
  server/routes/calculation-summary/calcSecondCheckSummaryController.ts
  server/routes/calculationRoutes.ts
  server/routes/check-information/checkInformationController.test.ts
  server/routes/check-information/checkInformationController.ts
  server/routes/index.ts
  server/routes/start/startController.test.ts
  server/services/calculateReleaseDatesService.test.ts
  server/views/pages/calculation/secondCheckCalculationSummary.njk
  server/views/pages/partials/calculationHistory/calculationHistory.njk
  server/views/pages/partials/calculationSummary/minimalSecondCheckCalculationCard.njk
  server/views/pages/partials/calculationSummary/secondCheckSummarySection.njk
  server/views/pages/partials/checkInformation/calculateDates.njk
Due: lint, typecheck, test
