Repository ministryofjustice/calculate-release-dates: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint, typecheck, test

.pre-commit-config.yaml:

# Pre-commit hook configuration file
#
# This contains the list of hooks to be run before committing code.
# The devsecops-hooks baseline hook is temporarily disabled while we investigate issues with it but will eventually become compulsory.
# Other hooks maybe added or removed as needed to suit individual project requirements.

repos:
  - repo: https://github.com/ministryofjustice/devsecops-hooks
    rev: v1.4.1
    hooks:
      - id: baseline
        env:
          GITLEAKS_CONFIGURATION_FILE: ./.gitleaks/gitleaks.toml
          GITLEAKS_IGNORE_FILE: ./.gitleaks/.gitleaksignore

  - repo: local
    hooks:
      - id: lint
        name: linting code
        language: system
        entry: ./node_modules/.bin/lint-staged
        types_or: [ts,javascript,css]
        require_serial: true
        pass_filenames: false
      - id: typecheck
        name: verify types
        language: system
        entry: npm run typecheck
        types: [ts]
        require_serial: true
        pass_filenames: false
      - id: test
        name: running tests
        language: system
        entry: npm run test
        types: [ts]
        require_serial: true
        pass_filenames: false
  - repo: builtin
    hooks:
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: check-json
      - id: check-yaml
      - id: check-merge-conflict

Fix the test case
  server/routes/calculation-reason/calculationReasonController.test.ts
Due: lint, typecheck, test

Fix Prod Bug - LatestCalc returning 404 when there are no previous calc (#1259)
  server/routes/calculation-reason/calculationReasonController.test.ts
  server/routes/calculation-reason/calculationReasonController.ts
Due: lint, typecheck, test

Switch On Checker Journey in All environments
  helm_deploy/calculate-release-dates/values.yaml
  helm_deploy/values-dev.yaml
Due: none

Trigger a re-try
  helm_deploy/calculate-release-dates/values.yaml
Due: none

Revert removed line
  helm_deploy/calculate-release-dates/values.yaml
Due: none

Switch On Checker Journey in All environments (#1261)
  helm_deploy/calculate-release-dates/values.yaml
  helm_deploy/values-dev.yaml
Due: none

CRS-2791: Handle missing sentence for remand and tagged bail adjustment
  server/views/pages/components/adjustments-tables/AdjustmentTablesModel.ts
  server/views/pages/components/adjustments-tables/adjustmentTables.test.ts
Due: lint, typecheck, test

CRS-2791: Handle missing sentence for remand and tagged bail adjustment (#1262)
  server/views/pages/components/adjustments-tables/AdjustmentTablesModel.ts
  server/views/pages/components/adjustments-tables/adjustmentTables.test.ts
Due: lint, typecheck, test

npm audit fix and remove unused lib concurrently which has a CVE
  .allowed-scripts.mjs
  package-lock.json
  package.json
Due: lint

CRS-2805: Fix app traces
  server/app.ts
  server/utils/appInsightsCustomTelemetry.ts
  server/utils/azureAppInsights.ts
Due: lint, typecheck, test

CRS-2805: Fix app traces (#1265)
  server/app.ts
  server/utils/appInsightsCustomTelemetry.ts
  server/utils/azureAppInsights.ts
Due: lint, typecheck, test

CDIA-267 Update design library.
  package-lock.json
  package.json
  server/@types/courtCasesReleaseDatesApi/index.d.ts
  server/routes/calculation-reason/calculationReasonController.test.ts
  server/routes/things-to-do-intercept/thingsToDoInterceptController.test.ts
Due: lint, typecheck, test

CDIA-267 Update design library. (#1272)
  package-lock.json
  package.json
  server/@types/courtCasesReleaseDatesApi/index.d.ts
  server/routes/calculation-reason/calculationReasonController.test.ts
  server/routes/things-to-do-intercept/thingsToDoInterceptController.test.ts
Due: lint, typecheck, test

crs-2804-fix-hdcad-validation
  server/services/manualEntryService.test.ts
  server/services/manualEntryService.ts
Due: lint, typecheck, test

crs-2804-fix-hdcad-validation (#1273)
  server/services/manualEntryService.test.ts
  server/services/manualEntryService.ts
Due: lint, typecheck, test

Switch on progression model UI everywhere
  helm_deploy/calculate-release-dates/values.yaml
  helm_deploy/values-dev.yaml
  helm_deploy/values-preprod.yaml
  helm_deploy/values-prod.yaml
Due: none

Switch on progression model UI everywhere (#1274)
  helm_deploy/calculate-release-dates/values.yaml
  helm_deploy/values-dev.yaml
  helm_deploy/values-preprod.yaml
  helm_deploy/values-prod.yaml
Due: none

fix renovate NPM build.
  .allowed-scripts.mjs
  package-lock.json
  package.json
Due: lint

fix renovate NPM build. (#1275)
  .allowed-scripts.mjs
  package-lock.json
  package.json
Due: lint

CRS-2820: New page to show env config
  server/@types/calculateReleaseDates/calculateReleaseDatesClientTypes.ts
  server/@types/calculateReleaseDates/index.d.ts
  server/data/calculateReleaseDatesApiClient.ts
  server/routes/config/configItemController.ts
  server/routes/index.ts
  server/services/calculateReleaseDatesService.ts
  server/utils/utils.test.ts
  server/utils/utils.ts
  server/views/pages/config.njk
Due: lint, typecheck, test

CRS-2820: New page to show env config (#1276)
  server/@types/calculateReleaseDates/calculateReleaseDatesClientTypes.ts
  server/@types/calculateReleaseDates/index.d.ts
  server/data/calculateReleaseDatesApiClient.ts
  server/routes/config/configItemController.ts
  server/routes/index.ts
  server/services/calculateReleaseDatesService.ts
  server/utils/utils.test.ts
  server/utils/utils.ts
  server/views/pages/config.njk
Due: lint, typecheck, test

CRS-2824: Fix express manual when no latest calc
  server/routes/manualEntryRoutes.test.ts
  server/routes/manualEntryRoutes.ts
Due: lint, typecheck, test

CRS-2824: Fix express manual when no latest calc (#1277)
  server/routes/manualEntryRoutes.test.ts
  server/routes/manualEntryRoutes.ts
Due: lint, typecheck, test

CRS-2828: Progression model exclusion update
  server/@types/calculateReleaseDates/index.d.ts
  server/routes/check-information/checkInformationController.test.ts
  server/routes/view/ViewSentencesAndOffencesController.test.ts
  server/views/pages/partials/checkInformation/sentenceCard.njk
Due: lint, typecheck, test

CRS-2828: Progression model exclusion update (#1278)
  server/@types/calculateReleaseDates/index.d.ts
  server/routes/check-information/checkInformationController.test.ts
  server/routes/view/ViewSentencesAndOffencesController.test.ts
  server/views/pages/partials/checkInformation/sentenceCard.njk
Due: lint, typecheck, test

crs-2826-approved-dates-validation
  server/routes/approvedDatesRoutes.test.ts
  server/routes/approvedDatesRoutes.ts
Due: lint, typecheck, test

crs-2826-approved-dates-validation
  server/routes/approvedDatesRoutes.ts
Due: lint, typecheck, test

crs-2826-approved-dates-validation (#1279)
  server/routes/approvedDatesRoutes.test.ts
  server/routes/approvedDatesRoutes.ts
Due: lint, typecheck, test

Replace HMPPS_SNYK_API_KEY with client credentials in security_snyk_scan.yml workflow
  .github/workflows/security_snyk_scan.yml
Due: none

crs-2825-manual-calc-to-nomis
  server/models/manual_calculation/ManualEntryConfirmationViewModel.ts
  server/routes/manualEntryRoutes.ts
  server/views/pages/manualEntry/confirmation.njk
Due: lint, typecheck, test

Replace HMPPS_SNYK_API_KEY with client credentials in security_snyk_scan.yml workflow (#1280)
  .github/workflows/security_snyk_scan.yml
Due: none

CRS-2787: Updated calculation overview
  assets/scss/components/_history.scss
  assets/scss/index.scss
  server/@types/calculateReleaseDates/calculateReleaseDatesClientTypes.ts
  server/@types/calculateReleaseDates/index.d.ts
  server/app.ts
  server/data/calculateReleaseDatesApiClient.ts
  server/models/IndexErrorViewModel.ts
  server/models/OptionalPrisonerContextViewModel.ts
  server/models/PrisonerCalculationOverviewViewModel.ts
  server/routes/index.ts
  server/routes/start/prisonerCalculationOverviewController.test.ts
  server/routes/start/prisonerCalculationOverviewController.ts
  server/routes/testutils/appSetup.ts
  server/services/calculateReleaseDatesService.ts
  server/utils/latestCalculation.ts
  server/views/pages/prisonerCalculationOverview.njk
Due: lint, typecheck, test

CRS-2787: Updated calculation overview (#1286)
  assets/scss/components/_history.scss
  assets/scss/index.scss
  server/@types/calculateReleaseDates/calculateReleaseDatesClientTypes.ts
  server/@types/calculateReleaseDates/index.d.ts
  server/app.ts
  server/data/calculateReleaseDatesApiClient.ts
  server/models/IndexErrorViewModel.ts
  server/models/OptionalPrisonerContextViewModel.ts
  server/models/PrisonerCalculationOverviewViewModel.ts
  server/routes/index.ts
  server/routes/start/prisonerCalculationOverviewController.test.ts
  server/routes/start/prisonerCalculationOverviewController.ts
  server/routes/testutils/appSetup.ts
  server/services/calculateReleaseDatesService.ts
  server/utils/latestCalculation.ts
  server/views/pages/prisonerCalculationOverview.njk
Due: lint, typecheck, test

Fix scripts as per dependency updates
  .allowed-scripts.mjs
Due: lint

Fix to use node types
  tsconfig.json
Due: none

CRS-2831: Invalid offence validation type
  server/@types/calculateReleaseDates/index.d.ts
  server/routes/check-information/checkInformationController.test.ts
  server/types/ErrorMessages.ts
  server/views/pages/partials/customErrorBanner.njk
  server/views/pages/partials/errorBanner/error-summary-invalid-offence.njk
  server/views/pages/partials/errorBanner/error-title-invalid-offence.njk
Due: lint, typecheck, test

CRS-2831: Invalid offence validation type (#1290)
  server/@types/calculateReleaseDates/index.d.ts
  server/routes/check-information/checkInformationController.test.ts
  server/types/ErrorMessages.ts
  server/views/pages/partials/customErrorBanner.njk
  server/views/pages/partials/errorBanner/error-summary-invalid-offence.njk
  server/views/pages/partials/errorBanner/error-title-invalid-offence.njk
Due: lint, typecheck, test

CRS-2793: Initial new calculation history page
  assets/scss/components/_history.scss
  integration_tests/mockApis/calculateReleaseDatesApi.ts
  package-lock.json
  package.json
  server/@types/calculateReleaseDates/calculateReleaseDatesClientTypes.ts
  server/@types/calculateReleaseDates/index.d.ts
  server/app.ts
  server/config.ts
  server/data/calculateReleaseDatesApiClient.ts
  server/models/CalculationHistoryOverviewViewModel.ts
  server/models/PrisonerCalculationOverviewViewModel.ts
  server/models/ViewCalculateReleaseDatePageViewModel.ts
  server/models/ViewPastNomisCalculationPageViewModel.ts
  server/models/calculation/CalculationSummaryOverridesViewModel.ts
  server/models/calculation/CalculationSummaryPageViewModel.ts
  server/routes/calculation-summary/calculationSummaryController.test.ts
  server/routes/calculation-summary/calculationSummaryOverridesController.test.ts
  server/routes/calculationRoutes.test.ts
  server/routes/index.ts
  server/routes/start/prisonerCalculationOverviewController.test.ts
  server/routes/start/prisonerCalculationOverviewController.ts
  server/routes/view/CalculationHistoryNavigationController.test.ts
  server/routes/view/CalculationHistoryNavigationController.ts
  server/routes/view/CalculationHistoryOverviewController.test.ts
  server/routes/view/CalculationHistoryOverviewController.ts
  server/routes/view/ViewCalculationSummaryController.test.ts
  server/routes/view/ViewPrintCalculationSummaryController.test.ts
  server/routes/view/ViewSentencesAndOffencesController.test.ts
  server/services/calculateReleaseDatesService.test.ts
  server/services/calculateReleaseDatesService.ts
  server/utils/nunjucksSetup.ts
  server/views/pages/components/calculation-summary-dates-card/CalculationSummaryDatesCard.test.ts
  server/views/pages/components/calculation-summary-dates-card/CalculationSummaryDatesCardModel.ts
  server/views/pages/components/calculation-summary-dates-panel/CalculationSummaryDatesPanel.test.ts
  server/views/pages/components/calculation-summary-dates-panel/macro.njk
  server/views/pages/components/calculation-summary-dates-panel/template.njk
  server/views/pages/components/calculation-summary-dates-panel/test.njk
  server/views/pages/prisonerCalculationOverview.njk
  server/views/pages/view/calculationHistoryOverview.njk
Due: lint, typecheck, test

CRS-2793: Initial new calculation history page (#1292)
  assets/scss/components/_history.scss
  integration_tests/mockApis/calculateReleaseDatesApi.ts
  package-lock.json
  package.json
  server/@types/calculateReleaseDates/calculateReleaseDatesClientTypes.ts
  server/@types/calculateReleaseDates/index.d.ts
  server/app.ts
  server/config.ts
  server/data/calculateReleaseDatesApiClient.ts
  server/models/CalculationHistoryOverviewViewModel.ts
  server/models/PrisonerCalculationOverviewViewModel.ts
  server/models/ViewCalculateReleaseDatePageViewModel.ts
  server/models/ViewPastNomisCalculationPageViewModel.ts
  server/models/calculation/CalculationSummaryOverridesViewModel.ts
  server/models/calculation/CalculationSummaryPageViewModel.ts
  server/routes/calculation-summary/calculationSummaryController.test.ts
  server/routes/calculation-summary/calculationSummaryOverridesController.test.ts
  server/routes/calculationRoutes.test.ts
  server/routes/index.ts
  server/routes/start/prisonerCalculationOverviewController.test.ts
  server/routes/start/prisonerCalculationOverviewController.ts
  server/routes/view/CalculationHistoryNavigationController.test.ts
  server/routes/view/CalculationHistoryNavigationController.ts
  server/routes/view/CalculationHistoryOverviewController.test.ts
  server/routes/view/CalculationHistoryOverviewController.ts
  server/routes/view/ViewCalculationSummaryController.test.ts
  server/routes/view/ViewPrintCalculationSummaryController.test.ts
  server/routes/view/ViewSentencesAndOffencesController.test.ts
  server/services/calculateReleaseDatesService.test.ts
  server/services/calculateReleaseDatesService.ts
  server/utils/nunjucksSetup.ts
  server/views/pages/components/calculation-summary-dates-card/CalculationSummaryDatesCard.test.ts
  server/views/pages/components/calculation-summary-dates-card/CalculationSummaryDatesCardModel.ts
  server/views/pages/components/calculation-summary-dates-panel/CalculationSummaryDatesPanel.test.ts
  server/views/pages/components/calculation-summary-dates-panel/macro.njk
  server/views/pages/components/calculation-summary-dates-panel/template.njk
  server/views/pages/components/calculation-summary-dates-panel/test.njk
  server/views/pages/prisonerCalculationOverview.njk
  server/views/pages/view/calculationHistoryOverview.njk
Due: lint, typecheck, test

CRS-2826 Amend manual express journey inline with backend changes
  integration_tests/e2e/manualDatesPath.cy.ts
  integration_tests/mockApis/calculateReleaseDatesApi.ts
  server/@types/calculateReleaseDates/calculateReleaseDatesClientTypes.ts
  server/@types/calculateReleaseDates/index.d.ts
  server/data/calculateReleaseDatesApiClient.ts
  server/routes/manualEntryRoutes.test.ts
  server/routes/manualEntryRoutes.ts
  server/services/calculateReleaseDatesService.test.ts
  server/services/calculateReleaseDatesService.ts
Due: lint, typecheck, test
